*{margin: 0;padding: 0; box-sizing: border-box;}
body{
    background-color: rgb(103, 141, 141);


}
main{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8,1fr);
    gap: 1rem;
}
.box{
    background: rgb(40, 148, 40);
    width: 100%;
    height: 100%;
}
#b1{
    grid-column: 1/3;
    grid-row: 1/2;
}
#b2{
    grid-column: 3/5;
    grid-row: 1/3;
}
#b3{
    grid-row: 1/3;
    grid-column: 5/13;
}
#b4{
    grid-column: 1/13;
    grid-row: 3/5;
}
#b5{
    grid-column: 1/5;
    grid-row: 5/9;
}
#b6{
    grid-column: 7/13;
    grid-row: 5/9;
}