*{padding: 0; margin: 0; box-sizing: border-box;}
body{
    background-color: hsl(150,60%,70%);

}

main{
    background: rgba(255, 0, 0, 0.692);
    height: 100vh;

    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 10rem) ;
    grid-template-rows: repeat(4,10rem);
    justify-content: center;
    align-content: center;


}
.box{
    width: 100%;
    height: 100%;
    background: linear-gradient(#0c0c0c, #a8a0a0);
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
}
.box:first-child{
    grid-column: 1/3;
    grid-row: 1 / 2;
}
.box:nth-child(2){
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}
.box:nth-child(3){
    grid-column: 1/3;
    grid-row: 2/4;
}